<div layout="column">
  <div layout="row" layout-margin>
    <md-button flex class="md-raised md-primary" dran-open-edit-puppet-dialog>Edit Puppet</md-button>
  </div>

  <!-- layout-padding directive for spacing between divider and x/y inputs -->
  <md-divider layout-padding></md-divider>

  <form novalidate>
    <div layout="row" layout-margin>
      <md-input-container>
        <label>x</label>
        <input type="number" ng-model="$ctrl.x"/>
      </md-input-container>
      <md-input-container>
        <label>y</label>
        <input type="number" ng-model="$ctrl.y"/>
      </md-input-container>
    </div>

    <md-slider-container layout="row" layout-margin>
      <h1 class="md-subhead">SX</h1>
      <md-slider flex="40" min="0" max="200" ng-model="$ctrl.scaleX"></md-slider>
      <md-input-container>
        <input type="number" ng-model="$ctrl.scaleX"/>
      </md-input-container>
    </md-slider-container>

    <md-slider-container layout="row" layout-margin>
      <h1 class="md-subhead">SY</h1>
      <md-slider flex="40" min="0" max="200" ng-model="$ctrl.scaleY"></md-slider>
      <md-input-container>
        <input type="number" ng-model="$ctrl.scaleY"/>
      </md-input-container>
    </md-slider-container>

    <md-slider-container layout="row" layout-margin>
      <md-icon md-font-set="material-icons">autorenew</md-icon>
      <md-slider flex="40" min="-180" max="180" ng-model="$ctrl.rotation"></md-slider>
      <md-input-container>
        <input type="number" ng-model="$ctrl.rotation"/>
      </md-input-container>
    </md-slider-container>
  </form>

  <md-divider></md-divider>

  <div layout="column" layout-margin>
    <md-button ng-disabled="true" class="md-raised md-warn">Clear Animation</md-button>
    <md-button class="md-raised md-warn">Delete Puppet</md-button>
  </div>
</div>
