<div layout="column">
  <md-toolbar layout="row" class="md-hue-2 md-medium-tall md-toolbar-tools">
    <h2>Puppet Name Placeholder</h2>
  </md-toolbar>

  <div layout="row" layout-margin>
    <md-button flex class="md-raised md-primary" dran-open-edit-puppet-dialog ng-disabled="$ctrl.noPuppetSelected()">Edit Puppet</md-button>
  </div>

  <!-- layout-padding directive for spacing between divider and x/y inputs -->
  <md-divider layout-padding></md-divider>

  <form novalidate ng-model-options="{ getterSetter: true }">
    <div layout="row" layout-margin>
      <md-input-container>
        <label>x</label>
        <input type="number"
          ng-model="$ctrl.x"
          ng-disabled="$ctrl.noPuppetSelected()"/>
      </md-input-container>
      <md-input-container>
        <label>y</label>
        <input type="number" ng-model="$ctrl.y" ng-disabled="$ctrl.noPuppetSelected()"/>
      </md-input-container>
    </div>

    <md-slider-container layout="row" layout-margin>
      <h1 class="md-subhead">SX</h1>
      <md-slider flex="40"
        aria-label="scaleX"
        min="0" max="300"
        ng-model="$ctrl.scaleX"
        ng-disabled="$ctrl.noPuppetSelected()">
      </md-slider>
      <md-input-container>
        <input type="number"
          aria-label="scaleX"
          ng-model="$ctrl.scaleX"
          ng-disabled="$ctrl.noPuppetSelected()"/>
      </md-input-container>
    </md-slider-container>

    <md-slider-container layout="row" layout-margin>
      <h1 class="md-subhead">SY</h1>
      <md-slider flex="40"
        aria-label="scaleY"
        min="0" max="300"
        ng-model="$ctrl.scaleY"
        ng-disabled="$ctrl.noPuppetSelected()">
      </md-slider>
      <md-input-container>
        <input type="number"
          aria-label="scaleY"
          ng-model="$ctrl.scaleY"
          ng-disabled="$ctrl.noPuppetSelected()"/>
      </md-input-container>
    </md-slider-container>

    <md-slider-container layout="row" layout-margin>
      <md-icon md-font-set="material-icons">autorenew</md-icon>
      <md-slider flex="40"
        aria-label="rotation"
        min="-180" max="180"
        ng-model="$ctrl.rotation"
        ng-disabled="$ctrl.noPuppetSelected()">
      </md-slider>
      <md-input-container>
        <input type="number"
          aria-label="rotation"
          ng-model="$ctrl.rotation"
          ng-disabled="$ctrl.noPuppetSelected()"/>
      </md-input-container>
    </md-slider-container>
  </form>

  <md-divider></md-divider>

  <div layout="column" layout-margin>
    <md-button ng-disabled="true" class="md-raised md-warn">Clear Animation</md-button>
    <md-button ng-disabled="$ctrl.noPuppetSelected()" ng-click="$ctrl.deleteSelectedPuppet()" class="md-raised md-warn">Delete Puppet</md-button>
  </div>
</div>
