<md-dialog ng-cloak layout="column" class="edit-puppet-dialog">

  <md-toolbar layout="row" class="md-toolbar-tools">
    <h2>Edit puppet</h2>
    <span flex></span>
    <md-button class="md-icon-button" dran-close-edit-puppet-dialog>
      <md-icon md-font-set="material-icons">close</md-icon>
    </md-button>
  </md-toolbar>

  <div layout="row" flex>

    <div flex class="position-root">
      <dran-three-container></dran-three-container>
      <div class="md-padding bottom-left-pos">
        <dran-zoompanner
          on-zoom-in="$ctrl.zoomIn"
          on-zoom-out="$ctrl.zoomOut"
          on-toggle-pan="$ctrl.panEnabled"
          pan-enabled-getter="$ctrl.getPanEnabled">
        </dran-zoompanner>
      </div>
    </div>

    <md-sidenav
        layout="column"
        class="md-sidenav-right"
        md-is-locked-open="true"
        md-whiteframe="4">

      <form class="md-margin">
        <div class="md-margin">
          <md-radio-group ng-model="$ctrl.state.mode">
            <md-radio-button value="editCtrlPt">Edit Control Points</md-radio-button>
            <md-radio-button value="cropImg">Crop Image</md-radio-button>
          </md-radio-group>
        </div>
      </form>

      <md-divider></md-divider>

      <form class="md-margin">
        <div class="md-margin">
          <md-radio-group layout="row" ng-model="$ctrl.state.cropmode">
            <md-radio-button flex value="select" ng-disabled="!($ctrl.state.mode == 'cropImg')">Select</md-radio-button>
            <md-radio-button flex value="remove" ng-disabled="!($ctrl.state.mode == 'cropImg')">Remove</md-radio-button>
          </md-radio-group>
        </div>
        <md-slider-container layout-margin>
          <h3 class="md-subhead">TH</h3>
          <md-slider flex="40" min="0" max="100" ng-model="$ctrl.state.threshold" ng-disabled="!($ctrl.state.mode == 'cropImg')"></md-slider>
          <md-input-container>
            <input type="number" value="100" ng-model="$ctrl.state.threshold" ng-disabled="!($ctrl.state.mode == 'cropImg')"/>
          </md-input-container>
        </md-slider-container>
        <div layout="row">
          <md-button flex class="md-raised" ng-disabled="!($ctrl.state.mode == 'cropImg')">Select All</md-button>
          <md-button flex class="md-raised" ng-disabled="!($ctrl.state.mode == 'cropImg')">Remove All</md-button>
        </div>
      </form>

    </md-sidenav>

  </div>

</md-dialog>
