<md-dialog ng-cloak layout="column" class="edit-puppet-dialog">

  <md-toolbar layout="row" class="md-toolbar-tools">
    <h2>Edit puppet</h2>
    <span flex></span>
    <md-button class="md-icon-button" dran-cancel-edit-puppet-dialog>
      <md-icon md-font-set="material-icons">close</md-icon>
    </md-button>
  </md-toolbar>

  <div layout="row" flex>

    <div flex class="position-root">
      <canvas dran-image-to-mesh-container></canvas><!-- delete this line and uncomment next one when container can be any element -->
      <!--<dran-image-to-mesh-container></dran-image-to-mesh-container>-->
      <div class="md-padding bottom-left-pos">
        <dran-zoompanner
          on-zoom-in="$ctrl.zoomIn"
          on-zoom-out="$ctrl.zoomOut"
          on-pan-toggle="$ctrl.togglePan"
          pan-enabled-getter="$ctrl.getPanEnabled">
        </dran-zoompanner>
      </div>
    </div>

    <md-sidenav
        layout="column"
        layout-align="space-between none"
        class="md-sidenav-right"
        md-is-locked-open="true"
        md-whiteframe="4">

      <div>
        <form class="md-margin" ng-model-options="{ getterSetter: true }">
          <div class="md-margin">
            <md-radio-group ng-model="$ctrl.editMode">
              <md-radio-button value="editCtrlPt">Edit Control Points</md-radio-button>
              <md-radio-button value="cropImg">Crop Image</md-radio-button>
            </md-radio-group>
          </div>
        </form>

        <md-divider></md-divider>

        <form class="md-margin">
          <div class="md-margin">
            <md-radio-group layout="row" ng-model="$ctrl.selectMode" ng-model-options="{ getterSetter: true }">
              <md-radio-button flex value="select" ng-disabled="$ctrl.notCropImgMode()">Select</md-radio-button>
              <md-radio-button flex value="remove" ng-disabled="$ctrl.notCropImgMode()">Remove</md-radio-button>
            </md-radio-group>
          </div>
          <md-slider-container layout-margin>
            <h3 class="md-subhead">TH</h3>
            <md-slider flex="40"
              aria-label="threshold"
              min="0" max="100"
              ng-model="$ctrl.threshold"
              ng-disabled="true">
            </md-slider>
            <md-input-container>
              <input type="number"
                aria-label="threshold"
                ng-model="$ctrl.threshold"
                ng-disabled="true"/>
            </md-input-container>
          </md-slider-container>
          <div layout="row">
            <md-button flex class="md-raised" ng-disabled="$ctrl.notCropImgMode()">Select All</md-button>
            <md-button flex class="md-raised" ng-disabled="$ctrl.notCropImgMode()">Remove All</md-button>
          </div>
        </form>
      </div>

      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button dran-cancel-edit-puppet-dialog>Cancel</md-button>
        <md-button class="md-primary" dran-finish-edit-puppet-dialog>Save</md-button>
      </md-dialog-actions>
    </md-sidenav>

  </div>

</md-dialog>
